<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter Wall - Screen 1</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='typed.min.js') }}"></script>
    <script>
      var list = new Array();
      var tweet_ids = new Array();
      $(function() {
        var container = $('.container');
        // build cells with empty text
        for(var i = 1; i <= 16; i++){
          container.append(
            $(`<div class="cell">
                <span id="screen${i}"></span>
               </div>`)
          );
          t = new Typed(`#screen${i}`, {
                        strings: [' '],
                        typeSpeed: 30,
                        backSpeed: 0,
                        smartBackspace: true
          });
          list.push(t);
          tweet_ids.push("0");
        }
        refresh();
      });

      function refresh() {
        setTimeout(refresh, 1000);
        $.getJSON('screencontent.json', function(data) {
          $(data).each(function(index, item) {
            var typed = list[item.screen_id-1];
            if (typed.strings[0] != item.text) {
              typed.strings = [item.text];
              typed.reset();
            }
        });
      });
    }
    </script>
  </head>
  <body>
    <div class="container">
   </div>
  </body>
</html>
