<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter Wall - Screen 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">  
  </head>
  <body>
    <div class="container">
     <div class="cell">
       CELL 1
     </div>
     <div class="cell">
       CELL 2
     </div>
     <div class="cell">
       CELL 3
     </div>
     <div class="cell">
       CELL 4
     </div>
     <div class="cell">
       CELL 5
     </div>
     <div class="cell">
       CELL 6
     </div>
     <div class="cell">
       CELL 7
     </div>
     <div class="cell">
       CELL 8
     </div>
     <div class="cell">
       CELL 9
     </div>
     <div class="cell">
       CELL 10
     </div>
     <div class="cell">
       CELL 11
     </div>
     <div class="cell">
       CELL 12
     </div>
     <div class="cell">
       CELL 13
     </div>
     <div class="cell">
       CELL 14
     </div>
     <div class="cell">
       CELL 15
     </div>
     <div class="cell">
       CELL 16
     </div>
   </div>
  </body>
</html>
