<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter Wall - Approval</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/table.css') }}"/>
      <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
      <script>
        $(function() {
            startRefresh();
        });

        function startRefresh() {
            setTimeout(startRefresh,1000);
            $.get('tablecontent.html', function(data) {
                $('body').html(data);
            });
        }
      </script>
  </head>
  <body>
  </body>
</html>
