body {
  margin: 0;
  padding: 0;

  width: 1280px;
  height: 720px;
  background: #000;

  font-family: Helvetica, Arial, sans-serif;
  color: #FFF;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(4, 180px);
  grid-auto-flow: row;
}

.cell {
  place-self: center;
  width: 310px;
  word-wrap: break-word;

  text-align: center;
}
